@model SoT.Domain.Entities.Example.Example

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Example</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePropertyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePropertyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegisterDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegisterDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExampleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
