@using PagedList.Mvc;
@model PagedList.IPagedList<SoT.Application.ViewModels.EmployeeProviderViewModel>

@{
    ViewBag.Title = "Providers";
}

<h2>Providers</h2>

@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().RegisterDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Active)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.RegisterDate)
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => item.Active)
                </td>
            </tr>
        }

    </table>
}
<br/>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Manage", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))